.footer {
    padding: 3rem 0;
  }
  
  .newsletter-title {
    font-weight: bold;
    font-size: 112px;
    text-transform: uppercase;
    line-height: 0.6;
  }
  
  .newsletter-description {
    font-size: 12.5px;
    color: #555;
    font-style: italic;
    text-align: center;
    width: 108%;
  }
  
  .newsletter-form {
    border: 3px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: start;
    width: 105%;
  }
  
  .newsletter-input {
    font-style: italic;
    max-width: 500px;
    border-radius: 0;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 12pt;
  }
  
  .newsletter-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  
  .contact-title {
    text-align: left;
    font-size: 200px;
    letter-spacing: 3px;
    line-height: 0.6;
  }
  
  .contact-email {
    font-size: 29px;
    font-style: italic;
    color: #333;
  }
  .contact-email:hover{
    color: #333;

  }
  
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-top: -35px;
  }
  
  .social-icons {
    margin-bottom: 1rem;
  }
  
  .social-icon {
    font-size: 2.5rem !important;
    margin-right: 1rem;
    color: #333;
  }
  .social-icon:first-child{
    font-size: 2.8rem ;

  }
  
  .social-icon:last-child {
    margin-right: 0;
  }
  
  .social-text {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
  }
  
  footer .brand-name {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-link {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    transition: all 0.2s;

  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #000;
    transition: all 0.2s;
  }
  