.cart {
  overflow-x: hidden;
  z-index: 1999;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: #ececec;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 12vh;
}
.cart-items{
max-height: 53vh;
overflow-y: auto;
direction: rtl;
scrollbar-width: thin;
scrollbar-color: #999 #ddd; 
}
.cart-items > * {
  direction: ltr; /* Restaura la dirección del contenido para que el texto no se invierta */
}
.cart-inner{
  max-height: 35vh;
}
.cart-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 0px;
}

.cart-item-details {
  flex-grow: 1;
  margin-left: 10px;
}

.cart-remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.cart-total {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 7px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.cart-flor{
  display: flex;
  justify-content: center;
}
.isotipo-cart{
  width: 60px;
}
.titulo-carrito{
font-style: italic;
font-weight: 100;
font-size: 18px;
}
.titulo-carrito-mxn{
font-size: 12px;
font-weight: 100;
font-style: italic;
}

.cart-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-pagar{
padding: 5px 60px;
background-color: #333333;
border-radius: 20px;
font-size: 20px;
transition: all 0.3s;

}
.btn-pagar:hover{
  background-color: #1a1a1a;
  transform: scale(1.1);
  transition: all 0.3s;
}
.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-danger {
  background: red;
  color: white;
}

.btn-success {
  background: green;
  color: white;
}
.cart-item-moldura-note {
  font-style: italic;
  font-size: 12px;
  font-weight: 100;
  color: #666;
  margin-top: 5px;
}
